@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply h-screen bg-gray-50 text-gray-700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  @apply mb-2 text-gray-800;
}
h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

p {
  @apply mb-1;
}
p:last-child {
  @apply mb-0;
}

input,
textarea {
  @apply border border-gray-200 rounded shadow-sm;
}
input {
  @apply p-1;
}

header {
  @apply mb-4 p-4 h-24 flex items-center bg-gray-300 shadow;
}

header a {
  @apply no-underline text-gray-800;
}

section {
  @apply mb-4 p-2 border border-gray-300 rounded;
}
section:last-child {
  @apply mb-0;
}

/* Tables */

table {
  @apply w-full;
}
table > tbody > tr:nth-child(even) {
  @apply bg-gray-100;
}

/* Layout */

.row {
  @apply flex flex-row items-center space-x-2;
}

.col {
  @apply flex flex-col justify-items-center space-y-2;
}

/* Buttons */

button,
.button {
  @apply p-1 border border-gray-400 rounded shadow-sm;
}

button.primary,
.button.primary {
  @apply bg-gray-600 text-gray-50;
}
button.danger,
.button.danger {
  @apply bg-red-500 text-red-50;
}

/* Utilities */

.big {
  @apply text-lg;
}

.small {
  @apply text-sm;
}

.help {
  @apply text-sm italic;
}

/* App */

#app {
  max-width: 1200px;
  margin: 0 auto;
}

/* TodoList */

.todo-item {
  @apply my-2 flex flex-row items-center space-x-2;
}
.todo-item input[name="text"] {
  @apply flex-1;
}
